/* Common styles for all elements */
.reset-pass-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.reset-pass-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.reset-pass-right {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.logo {
    width: 70%;
}

.reset-pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 30%;
}

.reset-pass-title {
    font-size: 28px;

}

.reset-pass-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #F1F1F1;
    width: 100%;
    padding: 15px 20px;
    border-radius: 52px;
    gap: 20px;
}

.inputPassword {
    border: none;
    width: 100%;
    font-size: 18px;
}

/* For mobile screens */
@media (max-width: 1600px) {
    /* styles for mobile devices */
    .reset-pass-page {
        /* Add styles to make the layout look good on small screens */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .reset-pass-page > .reset-pass-left {
        display: none;
    }
    .reset-pass-page > .reset-pass-right {
        padding: 0;
    }

    .reset-pass-form {
        /* Add styles to adjust the size of the form and its elements */
        width: 80%;
    }

    .reset-pass-title {
        font-size: 24px;
    }

    .reset-pass-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: #F1F1F1;
        width: 100%;
        padding: 10px 20px;
        border-radius: 52px;
        gap: 20px;
    }

    .inputPassword {
        /* Add styles to adjust the size of the input */
        font-size: 16px;
    }
}

.p1 {
    font-size: 15px;
    color: #9E9E9E;
    text-align: center;
}